.menu {
  margin-right: auto;
  label {
    font-size: x-large;
    padding-left: 10px;
  }
}

.mat-sidenav-container {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;

  .item-side-nav {
    min-height: 50px;
    align-self: center;
    cursor: pointer;
    outline: none;
    display: flex !important;
    padding: 5px 16px;
    .mat-line {
      font-weight: 500;
      font-size: 1.2em;
      padding-left: 10px;
    }
    &.active {
      background: #8e8d8d;
      color: #fff;

      p {
        color: #4a4a4a;
      }
    }
  }
}
